@import "src/styles/variables";

.EntryLayout {
  height: 100vh;
  overflow: hidden;
  background-color: #7e2111;

  &__content {
    height: calc(100vh - 30px);
  }

  &__footer {
    height: 30px;
  }
}